<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">BlogIt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <% if (locals.user) { %>
             
                <li class="nav-item">
                    <a class="nav-link" href="/blog/add-new">Add Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <% if (user.profileImageURL) { %>
                        <img src="<%= user.profileImageURL %>" alt="Profile" style="width: 28px;height: 28px;border-radius: 50%;object-fit: cover;">
                    <% } else { %>
                        <div style="width: 28px;height: 28px;border-radius: 50%;background: var(--primary-color);color: white;display: flex;align-items: center;justify-content: center;font-size: 12px;font-weight: 600;">
                            <%= user.fullName.charAt(0).toUpperCase() %>
                        </div>
                    <% } %>
                    <%= user.fullName %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                </div>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/user/signin" class="nav-link">SignIn</a>
                </li>    
                <li class="nav-item">
                    <a href="/user/signup" class="nav-link">Create Account</a>
                </li>    
            <% } %>
        </ul>
    </div>
    </nav>

    <% if (locals.error) { %>
     <div class="error-message">
        <%= locals.error %>
     </div>
    <% } %>

    <!-- <% if (locals.user) { %>
     <%= JSON.stringify(user) %>
    <% } %> -->